
* {
  font-family: Iosevka Nerd Font;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: #eceff4;
  margin: 5px 0;
}

#workspaces {
  border-radius: 0.625rem;
  margin: 5px;
  background-color: #3b4252;
  margin-left: 6px;
  
}

#workspaces button {
  color: #5e81ac;
  border-radius: 1rem;
  padding: 0.3rem;
}

#workspaces button.active {
  color: #88c0d0;
  border-radius: 0.625rem;
}

#workspaces button:hover {
  color: #bf616a;
  border-radius: 0.625rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: #3b4252;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  
}

#clock {
  color: #5e81ac;
  border-radius: 0px 0.625rem 0.625rem 0px;
  margin-right: 1rem;
}

#battery {
  color: #81a1c1;
}

#battery.charging {
  color: #81a1c1;
}

#battery.warning:not(.charging) {
  color: #bf616a;
}

#backlight {
  color: #88c0d0;
}

#pulseaudio {
  color: #8fbcbb;
  border-radius: 0.625rem 0px 0px 0.625rem;
  margin-left: 1rem;
}

#custom-music {
  color: #8fbcbb;
  border-radius: 0.625rem;
  
}


#tray {
  margin-right: 6px;
  border-radius: 0.625rem;
  
}
